@page
@model AboutModel
@{
    ViewData["Title"] = "Aspecto|About";
}
<br />
<br />
<br />
<h3><u><b>About Aspecto</b></u></h3>
<b>Inspiration</b>
<p>
    As high-school and college students, we often noticed the exhaustion businessmen and other white-collar workers endure. Unchecked stress and prolonged eye strain has been scientifically proven to increase the chance of various health problems, often resulting in myopia, obesity, high blood pressure, etc. We wanted to make a hack that had a positive influence in the workforce, which formed the core of our web application, Aspecto, that improves employees’ mental and physical health based upon their unconscious habits.
</p>
<br />
<b>What it does</b>
<p>
    Workers receive aggregate data at the conclusion of each working day regarding their attitudes and perceptions throughout. It analyzes inputs from the webcam and microphone to provide employees with an overview of their emotional state, while alerting them regarding healthy habits to improve posture, exercise and stretching and reduce eye strain.
</p>
<br />
<b>How I built it</b>
<p>
    We used a .NET core framework and javascript. Annyang Speech to Text API and Microsoft Face API were also implemented.
</p>
<br />
<b>Challenges I ran into</b>
<p>
    LOL. We had a lot of run-time issues when attempting to merge the Annyang Speech to Text API javascript/css files and the Microsoft Face API javascript/css files. There were also issues getting the webcam to take pictures at a specific interval.
</p>
<br />
<b>Accomplishments that I'm proud of</b>
<p>
    Despite the various challenges we ran into, we managed to overcome and accomplish the goal we set out initially. Aspecto is a viable product to promote employee awareness.
</p>
<br />
<b>What's next for Aspecto</b>
<p></p>Aspecto has potential to be the next large impact regarding the technological employment industry. There will be further design regarding the overall UI, as well as the development of additional features, such as hidden background tasks, live notifications, tailored chatbots, etc.
</p>
