@page
@model ContactModel
@{
    ViewData["Title"] = "Aspecto|Contact";
}
<br />
<br />
<br />

<h3><u><b>Contact Us</b></u></h3>

<address>
    Brock Miller<br />
    University of Iowa<br />
</address>

<address>
    Jonathan Xue<br />
    Adlai E Stevenson High School<br />
</address>

<address>
    Sujith Santhosh Kumar<br />
    Monmouth College<br />
</address>

